<div class="col-md-6 col-md-offset-3">
    <div class="transitions-enabled" id="pics">
        <% @pics.each do |pic| %>
            <div class="panel panel-default">
                <%= link_to (image_tag pic.image.url(:medium)), pic %>
                <h2><%= link_to pic.title, pic %></h2>
            </div>
        <% end %>
        <br><hr>
        <%= link_to "Post Pic!", new_pic_path, class: "btn btn-success" %>
    </div>
</div>

